html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 21px;
  color: #333;
  line-height: normal;
  margin: 10px 0;
  font-weight: 500;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
  margin-top: 0;
}
p,
em,
strong,
i,
b,
ul,
ol,
li,
table,
blockquote,
pre,
table,
code,
.s-btn {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 16px;
  color: #333;
  margin-bottom: 25px;
  line-height: 21px;
}
body {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 21px;
}
a {
  color: #6495ed;
  text-decoration: underline;
}
a:hover:not(.s-btn) {
  color: #1a62e2;
}
a:active:not(.s-btn) {
  color: #124197;
  text-decoration: underline;
  text-decoration-style: dashed;
}
a:visited:not(.s-btn):not(.s-close) {
  color: #8b008b;
}
h1 {
  font-size: 41px;
  margin: 25px 0;
}
h2 {
  font-size: 37px;
  margin: 17.5px 0;
}
h3 {
  font-size: 31px;
  margin: 16.25px 0;
}
h4 {
  font-size: 24px;
  margin: 12.5px 0;
}
blockquote {
  font-family: 'Baskerville', 'Palatino', 'Times New Roma', serif;
  margin: 25px;
  font-style: italic;
  font-size: 30px;
  line-height: 40px;
}
blockquote:before {
  content: open-quote;
  font-size: 70px;
  margin-left: -30px;
}
a.s-btn,
.s-box a {
  text-decoration: none;
}
p.s-red,
em.s-red,
strong.s-red,
i.s-red,
b.s-red,
ul.s-red,
ol.s-red,
li.s-red,
blockquote.s-red,
a.s-red {
  color: #ca3518;
}
p.s-orange,
em.s-orange,
strong.s-orange,
i.s-orange,
b.s-orange,
ul.s-orange,
ol.s-orange,
li.s-orange,
blockquote.s-orange,
a.s-orange {
  color: #ff8c00;
}
p.s-yellow,
em.s-yellow,
strong.s-yellow,
i.s-yellow,
b.s-yellow,
ul.s-yellow,
ol.s-yellow,
li.s-yellow,
blockquote.s-yellow,
a.s-yellow {
  color: #ffd700;
}
p.s-green,
em.s-green,
strong.s-green,
i.s-green,
b.s-green,
ul.s-green,
ol.s-green,
li.s-green,
blockquote.s-green,
a.s-green {
  color: #58aa00;
}
p.s-blue,
em.s-blue,
strong.s-blue,
i.s-blue,
b.s-blue,
ul.s-blue,
ol.s-blue,
li.s-blue,
blockquote.s-blue,
a.s-blue {
  color: #6495ed;
}
p.s-violet,
em.s-violet,
strong.s-violet,
i.s-violet,
b.s-violet,
ul.s-violet,
ol.s-violet,
li.s-violet,
blockquote.s-violet,
a.s-violet {
  color: #8b008b;
}
strong {
  font-weight: 500;
}
code,
pre {
  color: #1a62e2;
  background-color: #e0eafb;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 8.333333333333334px 16.666666666666668px;
  font-family: monospace;
}
code {
  margin-bottom: 0px;
  padding: 0 5.555555555555556px;
}
.s-wrapper {
  padding: 25px;
  max-width: 1200px;
  display: block;
  margin: 0px auto;
}
.s-break {
  clear: both;
}
.s-row {
  margin: 0px -12.5px;
}
.s-row:before,
.s-row:after {
  display: table;
  content: " ";
}
.s-row:after {
  clear: both;
}
.s-col {
  padding: 0 12.5px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.s-12 {
  width: 100%;
}
.s-11 {
  width: 91.66666666666666%;
}
.s-10 {
  width: 83.33333333333334%;
}
.s-9 {
  width: 75%;
}
.s-8 {
  width: 66.66666666666666%;
}
.s-7 {
  width: 58.333333333333336%;
}
.s-6 {
  width: 50%;
}
.s-5 {
  width: 41.66666666666667%;
}
.s-4 {
  width: 33.33333333333333%;
}
.s-3 {
  width: 25%;
}
.s-2 {
  width: 16.666666666666664%;
}
.s-1 {
  width: 8.333333333333332%;
}
.s-1f {
  width: 20%;
}
.s-2f {
  width: 40%;
}
.s-3f {
  width: 60%;
}
.s-4f {
  width: 80%;
}
@media screen and (min-width: 768px) {
  .s-sm-12 {
    width: 100%;
  }
  .s-sm-11 {
    width: 91.66666666666666%;
  }
  .s-sm-10 {
    width: 83.33333333333334%;
  }
  .s-sm-9 {
    width: 75%;
  }
  .s-sm-8 {
    width: 66.66666666666666%;
  }
  .s-sm-7 {
    width: 58.333333333333336%;
  }
  .s-sm-6 {
    width: 50%;
  }
  .s-sm-5 {
    width: 41.66666666666667%;
  }
  .s-sm-4 {
    width: 33.33333333333333%;
  }
  .s-sm-3 {
    width: 25%;
  }
  .s-sm-2 {
    width: 16.666666666666664%;
  }
  .s-sm-1 {
    width: 8.333333333333332%;
  }
  .s-sm-1f {
    width: 20%;
  }
  .s-sm-2f {
    width: 40%;
  }
  .s-sm-3f {
    width: 60%;
  }
  .s-sm-4f {
    width: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .s-md-12 {
    width: 100%;
  }
  .s-md-11 {
    width: 91.66666666666666%;
  }
  .s-md-10 {
    width: 83.33333333333334%;
  }
  .s-md-9 {
    width: 75%;
  }
  .s-md-8 {
    width: 66.66666666666666%;
  }
  .s-md-7 {
    width: 58.333333333333336%;
  }
  .s-md-6 {
    width: 50%;
  }
  .s-md-5 {
    width: 41.66666666666667%;
  }
  .s-md-4 {
    width: 33.33333333333333%;
  }
  .s-md-3 {
    width: 25%;
  }
  .s-md-2 {
    width: 16.666666666666664%;
  }
  .s-md-1 {
    width: 8.333333333333332%;
  }
  .s-md-1f {
    width: 20%;
  }
  .s-md-2f {
    width: 40%;
  }
  .s-md-3f {
    width: 60%;
  }
  .s-md-4f {
    width: 80%;
  }
}
@media screen and (min-width: 1200px) {
  .s-lg-12 {
    width: 100%;
  }
  .s-lg-11 {
    width: 91.66666666666666%;
  }
  .s-lg-10 {
    width: 83.33333333333334%;
  }
  .s-lg-9 {
    width: 75%;
  }
  .s-lg-8 {
    width: 66.66666666666666%;
  }
  .s-lg-7 {
    width: 58.333333333333336%;
  }
  .s-lg-6 {
    width: 50%;
  }
  .s-lg-5 {
    width: 41.66666666666667%;
  }
  .s-lg-4 {
    width: 33.33333333333333%;
  }
  .s-lg-3 {
    width: 25%;
  }
  .s-lg-2 {
    width: 16.666666666666664%;
  }
  .s-lg-1 {
    width: 8.333333333333332%;
  }
  .s-lg-1f {
    width: 20%;
  }
  .s-lg-2f {
    width: 40%;
  }
  .s-lg-3f {
    width: 60%;
  }
  .s-lg-4f {
    width: 80%;
  }
}
@media screen and (min-width: 1700px) {
  .s-xl-12 {
    width: 100%;
  }
  .s-xl-11 {
    width: 91.66666666666666%;
  }
  .s-xl-10 {
    width: 83.33333333333334%;
  }
  .s-xl-9 {
    width: 75%;
  }
  .s-xl-8 {
    width: 66.66666666666666%;
  }
  .s-xl-7 {
    width: 58.333333333333336%;
  }
  .s-xl-6 {
    width: 50%;
  }
  .s-xl-5 {
    width: 41.66666666666667%;
  }
  .s-xl-4 {
    width: 33.33333333333333%;
  }
  .s-xl-3 {
    width: 25%;
  }
  .s-xl-2 {
    width: 16.666666666666664%;
  }
  .s-xl-1 {
    width: 8.333333333333332%;
  }
  .s-xl-1f {
    width: 20%;
  }
  .s-xl-2f {
    width: 40%;
  }
  .s-xl-3f {
    width: 60%;
  }
  .s-xl-4f {
    width: 80%;
  }
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-ms-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.s-modal {
  display: none;
  width: 100%;
  top: 50px;
  min-height: 100px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.4);
  z-index: 11;
  padding: 25px;
  padding-bottom: 0;
  position: fixed;
  outline: 9999px solid rgba(0,0,0,0.25);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-animation-duration: 0.25s;
  -moz-animation-duration: 0.25s;
  -o-animation-duration: 0.25s;
  -ms-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
}
.s-modal[style="display: block;"] {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  -ms-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
.s-modal .s-close {
  float: right;
  cursor: pointer;
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  margin-right: -10px;
  margin-top: -15px;
}
.s-modal .s-btn {
  margin-left: 5px;
}
.s-modal footer {
  background-color: #eee;
  margin: 0 -25px;
  -webkit-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
}
.s-modal footer:before {
  display: table;
  content: ' ';
}
@media screen and (min-width: 768px) {
  .s-modal {
    left: 50%;
    width: 700px;
    margin-left: -350px;
  }
}
hr {
  border: 1px solid #d3d3d3;
  margin: 25px 0;
}
.s-close {
  color: inherit;
  text-decoration: none;
}
.s-box {
  background-color: #eee;
  margin-bottom: 25px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.s-box p:last-child {
  margin-bottom: 0;
}
.s-box:after,
.s-box:before {
  content: ' ';
  display: table;
}
.s-box:after {
  clear: both;
}
.s-box-heading {
  color: #333;
  font-weight: 500;
  padding-left: 0;
}
.s-box > .s-wrapper {
  padding-top: 0;
  padding-bottom: 0;
}
.s-box > ul,
.s-box > .s-wrapper > ul {
  margin-bottom: 0;
  display: block;
  float: left;
}
.s-box > ul > li,
.s-box > .s-wrapper > ul > li {
  display: inline-block;
  margin-bottom: 0;
}
.s-box > ul > li > *,
.s-box > .s-wrapper > ul > li > * {
  display: inline-block;
}
.s-box > ul > li > a:not(.s-btn),
.s-box > .s-wrapper > ul > li > a:not(.s-btn) {
  margin: 0;
}
.s-box > ul > li > a:not(.s-btn),
.s-box > .s-wrapper > ul > li > a:not(.s-btn),
.s-box > ul > li h1,
.s-box > .s-wrapper > ul > li h1,
.s-box > ul > li h2,
.s-box > .s-wrapper > ul > li h2,
.s-box > ul > li h3,
.s-box > .s-wrapper > ul > li h3,
.s-box > ul > li h4,
.s-box > .s-wrapper > ul > li h4,
.s-box > ul > li h5,
.s-box > .s-wrapper > ul > li h5,
.s-box > ul > li p,
.s-box > .s-wrapper > ul > li p,
.s-box > ul > li strong,
.s-box > .s-wrapper > ul > li strong,
.s-box > ul > li em,
.s-box > .s-wrapper > ul > li em {
  padding: 13.333333333333334px 16.666666666666668px;
}
.s-box > ul > li > .s-btn,
.s-box > .s-wrapper > ul > li > .s-btn,
.s-box > ul > li input,
.s-box > .s-wrapper > ul > li input {
  margin: 5px 0;
}
.s-box > ul > li > .s-btn + .s-btn,
.s-box > .s-wrapper > ul > li > .s-btn + .s-btn,
.s-box > ul > li input + .s-btn,
.s-box > .s-wrapper > ul > li input + .s-btn,
.s-box > ul > li > .s-btn input,
.s-box > .s-wrapper > ul > li > .s-btn input,
.s-box > ul > li input input,
.s-box > .s-wrapper > ul > li input input {
  margin-left: 5px;
}
.s-box > ul > li > .fa,
.s-box > .s-wrapper > ul > li > .fa {
  margin-right: 0;
}
.s-box > ul > li > ul,
.s-box > .s-wrapper > ul > li > ul {
  display: none;
  margin: 0;
}
.s-box > ul:first-child > li:first-child > .s-btn,
.s-box > .s-wrapper > ul:first-child > li:first-child > .s-btn,
.s-box > ul:first-child > li:first-child input,
.s-box > .s-wrapper > ul:first-child > li:first-child input {
  margin-left: 5px;
}
.s-box > ul.s-right > li:last-child > .s-btn,
.s-box > .s-wrapper > ul.s-right > li:last-child > .s-btn,
.s-box > ul.s-right > li:last-child input,
.s-box > .s-wrapper > ul.s-right > li:last-child input {
  margin-right: 5px;
}
.s-box > ul.s-right,
.s-box > .s-wrapper > ul.s-right {
  float: right;
}
.s-box > ul.s-right > li > .fa,
.s-box > .s-wrapper > ul.s-right > li > .fa {
  margin-left: 0;
}
.s-box a:not(.s-btn):not(.s-close) {
  color: #555;
}
.s-box.s-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.s-box.s-clear {
  background-color: transparent;
}
.s-box.s-dark {
  background-color: #333;
}
.s-box.s-dark a:not(.s-btn) {
  color: #fff;
}
.s-box input[type="text"],
.s-box input[type="email"],
.s-box input[type="search"],
.s-box input[type="date"],
.s-box input[type="datetime"],
.s-box input[type="datetime-local"],
.s-box input[type="month"],
.s-box input[type="number"],
.s-box input[type="password"],
.s-box input[type="tel"],
.s-box input[type="time"],
.s-box input[type="url"],
.s-box input[type="week"] {
  width: auto;
}
.s-box.s-box_vertical > ul > li {
  display: block;
}
.s-box.s-box_vertical > ul > li > *:not(s-btn) {
  padding-bottom: 0;
}
.s-box.s-box_vertical > ul > li:last-child {
  padding-bottom: 8.333333333333334px;
}
.s-growls-growl {
  width: 250px;
  padding: 8.333333333333334px 16.666666666666668px;
  background-color: #58aa00;
}
.s-growls-growl * {
  color: inherit;
}
.s-growls-growl .s-close {
  float: right;
}
.s-growls-growl.s-red {
  background-color: #ca3518;
  color: #fff;
}
.s-growls-growl.s-orange {
  background-color: #ff8c00;
  color: #fff;
}
.s-growls-growl.s-yellow {
  background-color: #ffd700;
  color: #333;
}
.s-growls-growl.s-green {
  background-color: #58aa00;
  color: #fff;
}
.s-growls-growl.s-blue {
  background-color: #6495ed;
  color: #fff;
}
.s-growls-growl.s-violet {
  background-color: #8b008b;
  color: #fff;
}
.s-dark .s-btn {
  background-color: #555;
  color: #fff;
}
.s-btn {
  padding: 8.333333333333334px 16.666666666666668px;
  background-color: #d3d3d3;
  color: inherit;
  border: 0px;
  outline: none;
  cursor: pointer;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px -3px 0px 0px rgba(0,0,0,0.2) inset;
  box-shadow: 0px -3px 0px 0px rgba(0,0,0,0.2) inset;
}
.s-btn:hover {
  -webkit-box-shadow: 0px 0px 0px 0px transparent inset;
  box-shadow: 0px 0px 0px 0px transparent inset;
}
.s-btn:active {
  -webkit-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.2) inset;
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.2) inset;
}
.s-btn.s-red {
  background-color: #ca3518;
  color: #fff;
}
.s-btn.s-orange {
  background-color: #ff8c00;
  color: #fff;
}
.s-btn.s-yellow {
  background-color: #ffd700;
  color: #333;
}
.s-btn.s-green {
  background-color: #58aa00;
  color: #fff;
}
.s-btn.s-blue {
  background-color: #6495ed;
  color: #fff;
}
.s-btn.s-violet {
  background-color: #8b008b;
  color: #fff;
}
.s-btn.s-clear {
  background-color: transparent;
  -webkit-box-shadow: 0px -3px 0px 0px rgba(0,0,0,0);
  box-shadow: 0px -3px 0px 0px rgba(0,0,0,0);
  color: #6495ed;
  text-decoration: underline;
}
.s-btn.s-clear:hover:not(.s-btn) {
  color: #1a62e2;
}
.s-btn.s-clear:active:not(.s-btn) {
  color: #124197;
  text-decoration: underline;
  text-decoration-style: dashed;
}
.s-btn.s-clear:hover {
  color: #1a62e2;
}
.s-btn.s-clear:active {
  color: #124197;
}
.s-btn i {
  margin-bottom: 0;
  color: inherit;
}
input[type="text"],
input[type="email"],
input[type="search"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"] {
  border: 1px solid #aaa;
  background-color: transparent;
  font-size: 16px;
  padding: 8.333333333333334px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 100%;
}
input[type="text"]:hover,
input[type="email"]:hover,
input[type="search"]:hover,
input[type="date"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="month"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="tel"]:hover,
input[type="time"]:hover,
input[type="url"]:hover,
input[type="week"]:hover {
  background-color: #fff;
}
input[type="text"]:active,
input[type="email"]:active,
input[type="search"]:active,
input[type="date"]:active,
input[type="datetime"]:active,
input[type="datetime-local"]:active,
input[type="month"]:active,
input[type="number"]:active,
input[type="password"]:active,
input[type="tel"]:active,
input[type="time"]:active,
input[type="url"]:active,
input[type="week"]:active,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus {
  outline: none;
  background-color: #fff;
  border-color: #555;
}
.s-dropdown > a:after,
.s-dropdown > button:after,
.s-dropdown > input:after {
  content: "\f0d7";
  font-family: 'FontAwesome';
  margin-left: 5px;
}
.s-dropdown > ul {
  display: none;
}
.dropdown_open .s-dropdown:hover {
  background-color: #555;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
.dropdown_open .s-dropdown:hover > a {
  color: #fff;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
.dropdown_open .s-dropdown:hover > a:hover {
  background-color: #333;
}
.dropdown_open .s-dropdown:hover > ul {
  display: block !important;
  margin-left: -1px;
  position: absolute;
  background-color: #555;
  margin-top: 4.166666666666667px;
  margin: 0;
  width: 200px;
  -webkit-border-radius: 0 3px 3px 3px;
  border-radius: 0 3px 3px 3px;
}
.dropdown_open .s-dropdown:hover > ul > li {
  margin: 0;
}
.dropdown_open .s-dropdown:hover > ul > li > a {
  padding: 8.333333333333334px 16.666666666666668px;
  -webkit-border-radius: 0 3px 3px 3px;
  border-radius: 0 3px 3px 3px;
  display: block;
  color: #fff;
}
.dropdown_open .s-dropdown:hover > ul > li > a:hover {
  background-color: #333;
}
.dropdown_open .s-dropdown:hover > ul > li > a:active {
  background-color: #000;
}
.s-table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #eee;
  width: 100%;
}
.s-table thead {
  background: #eee;
  color: #333;
  text-align: left;
  vertical-align: bottom;
}
.s-table thead th {
  font-weight: bold;
}
.s-table th,
.s-table td {
  background-color: transparent;
  border-left: 1px solid #eee;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: 5px 12.5px;
}
.s-table th:first-child,
.s-table td:first-child {
  border-left-width: 0;
}
.s-table tbody tr:nth-child(2n) {
  background-color: #f7f7f7;
}
