html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 21px;
  color: #333;
  line-height: normal;
  margin: 10px 0;
  font-weight: 500;
}
p,
em,
strong,
i,
b,
ul,
ol,
li,
table,
blockquote,
.s-btn {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 16px;
  color: #333;
  margin-bottom: 25px;
  line-height: 21px;
}
body {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 21px;
}
h1 {
  font-size: 41px;
  margin: 25px 0;
}
h2 {
  font-size: 37px;
  margin: 17.5px 0;
}
h3 {
  font-size: 31px;
  margin: 16.25px 0;
}
h4 {
  font-size: 24px;
  margin: 12.5px 0;
}
blockquote {
  font-family: 'Baskerville', 'Palatino', 'Times New Roma', serif;
  margin: 25px;
  font-style: italic;
  font-size: 30px;
  line-height: 40px;
}
blockquote:before {
  content: open-quote;
  font-size: 70px;
  margin-left: -30px;
}
p.s-red,
em.s-red,
strong.s-red,
i.s-red,
b.s-red,
ul.s-red,
ol.s-red,
li.s-red,
blockquote.s-red,
a.s-red {
  color: #ca3518;
}
p.s-orange,
em.s-orange,
strong.s-orange,
i.s-orange,
b.s-orange,
ul.s-orange,
ol.s-orange,
li.s-orange,
blockquote.s-orange,
a.s-orange {
  color: #ff8c00;
}
p.s-yellow,
em.s-yellow,
strong.s-yellow,
i.s-yellow,
b.s-yellow,
ul.s-yellow,
ol.s-yellow,
li.s-yellow,
blockquote.s-yellow,
a.s-yellow {
  color: #ffd700;
}
p.s-green,
em.s-green,
strong.s-green,
i.s-green,
b.s-green,
ul.s-green,
ol.s-green,
li.s-green,
blockquote.s-green,
a.s-green {
  color: #58aa00;
}
p.s-blue,
em.s-blue,
strong.s-blue,
i.s-blue,
b.s-blue,
ul.s-blue,
ol.s-blue,
li.s-blue,
blockquote.s-blue,
a.s-blue {
  color: #6495ed;
}
p.s-violet,
em.s-violet,
strong.s-violet,
i.s-violet,
b.s-violet,
ul.s-violet,
ol.s-violet,
li.s-violet,
blockquote.s-violet,
a.s-violet {
  color: #8b008b;
}
.s-wrapper {
  padding: 25px;
  max-width: 1200px;
  display: block;
  margin: 0px auto;
}
.s-break {
  clear: both;
}
.s-col {
  padding-right: 25px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.s-col:last-child {
  padding-right: 0;
}
.s-12 {
  width: 100%;
}
.s-11 {
  width: 91.66666666666666%;
}
.s-10 {
  width: 83.33333333333334%;
}
.s-9 {
  width: 75%;
}
.s-8 {
  width: 66.66666666666666%;
}
.s-7 {
  width: 58.333333333333336%;
}
.s-6 {
  width: 50%;
}
.s-5 {
  width: 41.66666666666667%;
}
.s-4 {
  width: 33.33333333333333%;
}
.s-3 {
  width: 25%;
}
.s-2 {
  width: 16.666666666666664%;
}
.s-1 {
  width: 8.333333333333332%;
}
.s-1f {
  width: 20%;
}
.s-2f {
  width: 40%;
}
.s-3f {
  width: 60%;
}
.s-4f {
  width: 80%;
}
@media screen and (min-width: 768px) {
  .s-sm-12 {
    width: 100%;
  }
  .s-sm-11 {
    width: 91.66666666666666%;
  }
  .s-sm-10 {
    width: 83.33333333333334%;
  }
  .s-sm-9 {
    width: 75%;
  }
  .s-sm-8 {
    width: 66.66666666666666%;
  }
  .s-sm-7 {
    width: 58.333333333333336%;
  }
  .s-sm-6 {
    width: 50%;
  }
  .s-sm-5 {
    width: 41.66666666666667%;
  }
  .s-sm-4 {
    width: 33.33333333333333%;
  }
  .s-sm-3 {
    width: 25%;
  }
  .s-sm-2 {
    width: 16.666666666666664%;
  }
  .s-sm-1 {
    width: 8.333333333333332%;
  }
  .s-sm-1f {
    width: 20%;
  }
  .s-sm-2f {
    width: 40%;
  }
  .s-sm-3f {
    width: 60%;
  }
  .s-sm-4f {
    width: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .s-md-12 {
    width: 100%;
  }
  .s-md-11 {
    width: 91.66666666666666%;
  }
  .s-md-10 {
    width: 83.33333333333334%;
  }
  .s-md-9 {
    width: 75%;
  }
  .s-md-8 {
    width: 66.66666666666666%;
  }
  .s-md-7 {
    width: 58.333333333333336%;
  }
  .s-md-6 {
    width: 50%;
  }
  .s-md-5 {
    width: 41.66666666666667%;
  }
  .s-md-4 {
    width: 33.33333333333333%;
  }
  .s-md-3 {
    width: 25%;
  }
  .s-md-2 {
    width: 16.666666666666664%;
  }
  .s-md-1 {
    width: 8.333333333333332%;
  }
  .s-md-1f {
    width: 20%;
  }
  .s-md-2f {
    width: 40%;
  }
  .s-md-3f {
    width: 60%;
  }
  .s-md-4f {
    width: 80%;
  }
}
@media screen and (min-width: 1200px) {
  .s-lg-12 {
    width: 100%;
  }
  .s-lg-11 {
    width: 91.66666666666666%;
  }
  .s-lg-10 {
    width: 83.33333333333334%;
  }
  .s-lg-9 {
    width: 75%;
  }
  .s-lg-8 {
    width: 66.66666666666666%;
  }
  .s-lg-7 {
    width: 58.333333333333336%;
  }
  .s-lg-6 {
    width: 50%;
  }
  .s-lg-5 {
    width: 41.66666666666667%;
  }
  .s-lg-4 {
    width: 33.33333333333333%;
  }
  .s-lg-3 {
    width: 25%;
  }
  .s-lg-2 {
    width: 16.666666666666664%;
  }
  .s-lg-1 {
    width: 8.333333333333332%;
  }
  .s-lg-1f {
    width: 20%;
  }
  .s-lg-2f {
    width: 40%;
  }
  .s-lg-3f {
    width: 60%;
  }
  .s-lg-4f {
    width: 80%;
  }
}
@media screen and (min-width: 1700px) {
  .s-xl-12 {
    width: 100%;
  }
  .s-xl-11 {
    width: 91.66666666666666%;
  }
  .s-xl-10 {
    width: 83.33333333333334%;
  }
  .s-xl-9 {
    width: 75%;
  }
  .s-xl-8 {
    width: 66.66666666666666%;
  }
  .s-xl-7 {
    width: 58.333333333333336%;
  }
  .s-xl-6 {
    width: 50%;
  }
  .s-xl-5 {
    width: 41.66666666666667%;
  }
  .s-xl-4 {
    width: 33.33333333333333%;
  }
  .s-xl-3 {
    width: 25%;
  }
  .s-xl-2 {
    width: 16.666666666666664%;
  }
  .s-xl-1 {
    width: 8.333333333333332%;
  }
  .s-xl-1f {
    width: 20%;
  }
  .s-xl-2f {
    width: 40%;
  }
  .s-xl-3f {
    width: 60%;
  }
  .s-xl-4f {
    width: 80%;
  }
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-ms-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.s-modal {
  display: none;
  width: 500px;
  left: 50%;
  top: 50px;
  margin-left: -250px;
  min-height: 100px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.4);
  z-index: 11;
  padding: 0 25px;
  position: fixed;
  outline: 9999px solid rgba(0,0,0,0.25);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-animation-duration: 0.25s;
  -moz-animation-duration: 0.25s;
  -o-animation-duration: 0.25s;
  -ms-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
}
.s-modal[style="display: block;"] {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  -ms-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
.s-modal .s-close {
  float: right;
  cursor: pointer;
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
}
.s-modal .s-btn {
  margin-left: 5px;
}
.s-modal footer {
  text-align: right;
  padding: 0 25px;
  background-color: #eee;
  margin: 0 -25px;
  overflow: hidden;
  -webkit-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
}
.s-modal footer * {
  margin: 12.5px 0;
}
.s-modal footer:before {
  display: table;
  content: ' ';
}
hr {
  border: 1px solid #d3d3d3;
  margin: 25px 0;
}
.s-btn {
  padding: 8.333333333333334px 16.666666666666668px;
  background-color: #d3d3d3;
  color: #333;
  border: 0px;
  outline: none;
  cursor: pointer;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px -3px 0px 0px rgba(0,0,0,0.2) inset;
  box-shadow: 0px -3px 0px 0px rgba(0,0,0,0.2) inset;
}
.s-btn:hover {
  -webkit-box-shadow: 0px 0px 0px 0px transparent inset;
  box-shadow: 0px 0px 0px 0px transparent inset;
}
.s-btn:active {
  -webkit-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.2) inset;
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.2) inset;
}
.s-btn.s-red {
  background-color: #ca3518;
  color: #fff;
}
.s-btn.s-orange {
  background-color: #ff8c00;
  color: #fff;
}
.s-btn.s-yellow {
  background-color: #ffd700;
}
.s-btn.s-green {
  background-color: #58aa00;
  color: #fff;
}
.s-btn.s-blue {
  background-color: #6495ed;
  color: #fff;
}
.s-btn.s-violet {
  background-color: #8b008b;
  color: #fff;
}
