extends layout

block header
  nav.s-box.s-fixed.s-grey
    .s-wrapper
      ul
        li
          a.s-box-heading(href="#") Website
        li
          
          a(href="#") 
            span.s-left.fa.fa-search
            |  Item
        li
          a(href="#") Item
        li
          input(type="search" placeholder="Name")
        li.s-dropdown
          a(href="#") Directory
          ul
            li
              a(href="index.html") Sandbox
            li
              a(href="docs.html") Docs
      ul.s-right
        li
          a(href="#") Item
  .s-wrapper
    h1 Start.css Test Page
    hr

block content
  .s-wrapper
    .s-col.s-md-6
      .s-box
        img.s-box-caption_left(src="https://pbs.twimg.com/profile_images/411758450700349440/fldsxTBx.jpeg")
        .s-box-caption_right
          h3 Title
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .s-col.s-md-6
      .s-box
        .s-box-caption_left
          h3 Title
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        img.s-box-caption_right(src="https://pbs.twimg.com/profile_images/411758450700349440/fldsxTBx.jpeg")
    .s-col
      p To learn more, 
        a(href="#abc") Read this.
    .s-break
    nav.s-box.s-grey
      ul
        li
          
          a(href="#") 
            span.s-left.fa.fa-search
            |  Item
        li
          a(href="#") Item
        li
          input(type="search" placeholder="Name")
        li.s-dropdown
          a(href="#") Dropdown
          ul
            li
              a(href="#") Dropdown Item
            li
              a(href="#") Dropdown Item
      ul.s-right
        li
          a(href="#") Item
    nav.s-box.s-grey
      ul
        li
          a.s-btn#modal(href="#") Item
        li
          a.s-btn.s-red(href="#") Item
        li
          a.s-btn.s-orange(href="#") Item
        li
          a.s-btn.s-yellow(href="#") Item
        li
          a.s-btn.s-green(href="#") Item
        li
          a.s-btn.s-blue(href="#") Item
        li
          a.s-btn.s-violet(href="#") Item
      ul.s-right
        li.s-dropdown
          button.s-btn.s-violet Dropdown
          ul
            li
              a(href="#") Dropdown Item
            li
              a(href="#") Dropdown Item
        li
          a.s-btn(href="#") Item
    nav.s-box.s-grey
      ul
        li
          a(href="#") Item
        li
          a.s-btn(href="#") Item
        li
          a(href="#") Item
      ul.s-right
        li
          a(href="#") Item
        li
          a.s-btn(href="#") Item
        li
          a(href="#") Item
    nav.s-box.s-grey
      ul
        li
          a.s-box-heading(href="#") Website
        li
          a(href="#") Item
        li Item that is not a link.
        li
          a.s-btn(href="#") Item
        li
          a(href="#") Item
      ul.s-right
        li
          a(href="#") Item
        li
          a.s-btn(href="#") Item
        li
          a(href="#") Item
    article.s-row
      .s-col.s-4
        nav.s-box.s-grey
          ul
            li
              a.s-box-heading(href="#") Website
            li
              a(href="#") Item
            li Item that is not a link.
            li
              a.s-btn(href="#") Item
            li
              a(href="#") Item
          ul.s-right
            li
              a(href="#") Item
            li
              a.s-btn(href="#") Item
            li
              a(href="#") Item
      .s-col.s-4
        nav.s-box.s-grey
          ul
            li
              a.s-btn(href="#") Item
            li 
              a.s-btn(href="#") Item
            li
              a.s-btn(href="#") Item
            li
              a.s-btn(href="#") Item
          ul.s-right
            li
              a.s-btn(href="#") Item
            li
              a.s-btn(href="#") Item
            li
              a(href="#") Item
      .s-col.s-4
        nav.s-box.s-grey
          ul
            li
              a.s-btn(href="#") Item
            li Item that is not a link.
            li
              a.s-btn(href="#") Item
            li
              a(href="#") Item
          ul.s-right
            li
              a.s-btn(href="#") Item
            li
              a.s-btn(href="#") Item
            li
              a(href="#") Item
    article.s-row
      .s-col.s-4
        nav.s-box.s-grey
          ul
            li
              a.s-btn(href="#") Item
            li
              a.s-btn.s-blue(href="#") Item
            li
              a(href="#") Item
      .s-col.s-4
        nav.s-box.s-dark
          ul
            li
              a.s-btn(href="#") Item
            li
              a.s-btn.s-blue(href="#") Item
            li
              a(href="#") Item
      .s-col.s-4
        nav.s-box
          ul
            li
              a.s-btn(href="#") Item
            li
              a.s-btn.s-blue(href="#") Item
            li
              a(href="#") Item
    article.s-row
      .s-col.s-sm-6.s-md-4.s-lg-3 
        h5 Heading
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .s-col.s-sm-6.s-md-4.s-lg-3 
        h5 Heading
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        nav.s-box.s-dark
          ul
            li
              a(href="#") Toolbar 
          ul.s-right
            li
              a.s-btn.s-blue(href="#") Save
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .s-col.s-sm-6.s-md-4.s-lg-3 
        h5 Heading
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .s-col.s-sm-6.s-md-4.s-lg-3 
        h5 Heading
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    hr

    h1 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    h5 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    hr

    h1 Heading 1
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    h2 Heading 2
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    h3 Heading 3
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    h4 Heading 4
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    h5 Heading 5
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    hr

    article.s-row
      .s-col.s-sm-3
        h1 3 Columns
      .s-col.s-sm-9
        h1 9 Columns

    .s-modal
      header
        h5 Modal Title
          small.s-close &times;
      main
        p Modal content
      footer.s-box
        ul
          li
            a.s-btn.s-clear(href="#") Cancel
        ul.s-right
          li
            a.s-btn.s-blue(href="#") Yes.

    hr

    h1 Heading 1
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    h2 Heading 2
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    h3 Heading 3
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    h4 Heading 4
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    h5 Heading 5
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
