extends layout

block header
  nav.s-box.s-fixed
    .s-wrapper
      ul
        li
          a.s-box-heading(href="#") 
            span.fa.fa-book
            |  Start.css
        li.s-dropdown
          a(href="#") Menu
          ul
            li
              a(href="index.html") Sandbox
            li
              a(href="index2.html") Docs
block content
  .s-wrapper
    .s-row
      .s-sm-8.s-col
        h1 Start.css
        p These are the temporary docs for Start.css. Eventually there will be something much better-looking here.
      .s-sm-4.s-col
        h5 Directory
        ul
          li
            a(href="#") One