doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="css/start.css")
  body.s-wrapper
    header
      h1 Start.css Test Page
      hr
    main
      block content
    footer
  script(src="http://code.jquery.com/jquery-2.0.3.min.js")
  script(src="js/start.js")
  script.
    $('p, span').s_endconcat()
    $('#modal').click(function() {
      $('.s-modal').fadeIn('fast')
    }) 
  link(href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet")