.s-
  &bar
    background-color: $lightGrey
    margin-bottom: $space
    border-radius(5px)
    &:after, &:before
      content: ' '
      display: table
    &:after
      clear: both
    &-heading
      color: $black
      font-weight: 500
    > ul
      margin-bottom: 0
      display: block
      float: left
      > li
        display: inline-block 
        margin-bottom: 0
        > *
          display: inline-block
        > a:not(.s-btn)
          margin 0
          padding: ($buttonSpacingV + ($space/5)) $buttonSpacingH
        > .s-btn, input
          margin: ($space/5) 0
          + .s-btn, input
            margin-left: ($space/5)
        > .fa
          margin-right: 0
        > ul
            display: none
            margin: 0
      &:first-child
        > li:first-child
         > .s-btn, input
           margin-left: ($space/5)
      &.s-right
        > li:last-child
         > .s-btn, input
           margin-right: ($space/5)
      &.s-right
        float: right
        > li
          > .fa
            margin-left: 0
    a:not(.s-btn)
      color: $darkGrey