.s-
  &bar
    background-color: $lightGrey
    padding: ($space/5) 0
    margin-bottom: $space
    border-radius(5px)
    &:after, &:before
      content: ' '
      display: table
    &:after
      clear: both
    > ul
      margin-bottom: 0
      display: block
      float: left
      > li
        display: inline-block 
        margin-bottom: 0
        > *:not(.s-btn)
          margin: $buttonSpacing
          display: block
        > .s-btn
          display: block
      &.s-right
        float: right
    a:not(.s-btn)
      color: $darkGrey