.s-
  &box
    padding-top: ($space/2)
    padding-bottom: ($space/2)
    margin-bottom: $space
    border-radius(5px)
    &-caption
      &_left:not(img)
        overflow: hidden
        display: block
      &_right:not(img)
        overflow: hidden
        display: block
    p:last-child
      margin-bottom: 0
    &:after, &:before
      content: ' '
      display: table
    &:after
      clear: both
    &-heading
      color: $black
      font-weight: 500
      padding-left: 0
    > .s-wrapper
      padding-top: 0
      padding-bottom: 0
    > ul, > .s-wrapper > ul
      margin-bottom: 0
      display: block
      float: left
      > li
        display: inline-block 
        margin-bottom: 0
        > *
          display: inline-block
        > a:not(.s-btn)
          margin 0
        > a:not(.s-btn), h1, h2, h3, h4, h5, p, strong, em
          padding: $buttonSpacingV $buttonSpacingH
          margin-top: (-1 * ($buttonSpacingV))
          margin-bottom: (-1 * ($buttonSpacingV))
        > .s-btn, input
          margin-bottom: 0
          + .s-btn, input
            margin-left: ($space/5)
        > .fa
          margin-right: 0
        > ul
            display: none
            margin: 0
      &:first-child
        > li:first-child
         > .s-btn, input
           margin-left: ($space/5)
      &.s-right
        > li:last-child
         > .s-btn, input
           margin-right: ($space/5)
      &.s-right
        float: right
        > li
          > .fa
            margin-left: 0
    a:not(.s-btn):not(.s-close)
      color: $darkGrey
    &.s-fixed
      position: fixed
      top: 0
      left: 0
      right: 0
      border-radius(0 0 0 0)
    &.s-clear
      background-color: transparent
    &.s-dark
      background-color: $black
      a:not(.s-btn)
        color: white
    &.s-grey
      background-color: $lightGrey
    input
      &[type="text"],
      &[type="email"],
      &[type="search"],
      &[type="date"],
      &[type="datetime"],
      &[type="datetime-local"],
      &[type="month"],
      &[type="number"],
      &[type="password"],
      &[type="tel"],
      &[type="time"],
      &[type="url"],
      &[type="week"]
        width: auto
    &.s-box_vertical
      > ul > li
        display: block
        > *:not(s-btn)
          padding-bottom: 0
        &:last-child
          padding-bottom: $buttonSpacingV

img.s-
  &box-caption_
    &left
      margin-right: ($space/2)
      float: left
    &right
      margin-left: ($space/2)
      float: right