.s-
  &dark
    .s-btn
      background-color: $darkGrey
      color: white
  &btn
    padding: $buttonSpacingV $buttonSpacingH
    display: inline-block
    background-color: lightgray
    color: inherit
    border: 0px
    outline: none
    cursor: pointer
    border-radius($buttonBorderRadius)
    box-shadow(0px -3px 0px 0px rgba(0, 0, 0, 0.2) inset)
    &:hover
      box-shadow(0px 0px 0px 0px transparent inset)
    &:active
      box-shadow(0px 3px 0px 0px rgba(0, 0, 0, 0.2) inset)
    color-backgrounds()
    &.s-clear
      background-color: transparent
      box-shadow(0px -3px 0px 0px rgba(0, 0, 0, 0))
      link-styles()
      &:hover
        color: darken($blue, 25%)
      &:active
        color: darken($blue, 50%)
    i
      margin-bottom: 0
      color: inherit
