.s-
  &btn
    padding: 10px 20px
    background-color: lightgray
    color: $black
    border: 0px
    outline: none
    cursor: pointer
    border-radius(3px)
    &:hover
      box-shadow(2px 2px 2px 1px rgba(255, 255, 255, 0.3) inset)
    &:active
      box-shadow(-2px -2px 2px 1px rgba(255, 255, 255, 0.3) inset)
    &.s-
      &red
        background-color: $red
        color: white
      &orange
        background-color: $orange
        color: white
      &yellow
        background-color: $yellow
        color: $black
      &green
        background-color: $green
        color: white
      &blue
        background-color: $blue
        color: white
      &violet
        background-color: $violet
        color: white