.s-
  &dropdown
    border-left: 1px solid transparent
    border-right: 1px solid transparent
    > a:after
      content: "\f0d7"
      font-family: 'FontAwesome'
      margin-left: 5px
    > ul
      display: none
      position: absolute
      background-color: white
      margin-top: ($buttonSpacingV/2)
      border: 1px solid $lightBorder
      border-top: 0px
      margin: 0
      > li
        margin: 0 
        > a
          padding: $buttonSpacingV $buttonSpacingH
          display: block
    &.s-dropdown_clicked
      margin-top: (-1 * ($space/5))
      margin-bottom: (-1 * ($space/5))
      padding-top: ($space/5)
      padding-bottom: ($space/5)
      background-color: rgba(255, 255, 255, 0.9)
      border-color: $lightBorder
      > ul
        display: block
        > li > a
          &:hover
            background-color: white
          &:active
            background-color: rgba(0, 0, 0, 0.15)