.s-
  &dropdown
    > a:after
      content: "\f0d7"
      font-family: 'FontAwesome'
      margin-left: 5px
    > ul
      display: none
    &.s-dropdown_clicked
      background-color: $darkGrey
      > a
        color: white
      > ul
        display: block
        margin-left: (-1 * $borderWidth)
        position: absolute
        background-color: $grey
        margin-top: ($buttonSpacingV/2)
        margin: 0
        > li
          margin: 0 
          > a
            padding: $buttonSpacingV $buttonSpacingH
            display: block
            color: white
        > li > a
          &:hover
            background-color: $darkGrey
          &:active
            background-color: $black