progress
  width: 100%
  &.s-box
    &::-webkit-progress-bar
      border-radius($buttonBorderRadius)
      -webkit-appearance: none
      appearance: none
      -moz-appearance: none
    progress-style($black)
    &.s-red
      progress-style($red)
    &.s-orange
      progress-style($orange)
    &.s-yellow
      progress-style($yellow)
    &.s-green
      progress-style($green)
    &.s-blue
      progress-style($blue)
    &.s-violet
      progress-style($violet)

   
