progress
  width: 100%
  &.s-box
    &::-webkit-progress-bar
      border-radius($buttonBorderRadius)
      min-height: $space
      -webkit-appearance: none
      appearance: none
      -moz-appearance: none
    &::-webkit-progress-value
      border-radius($buttonBorderRadius 0 0 $buttonBorderRadius)
    progress-style($black)
    &.s-red
      progress-style($red)
    &.s-orange
      progress-style($orange)
    &.s-yellow
      progress-style($yellow)
    &.s-green
      progress-style($green)
    &.s-blue
      progress-style($blue)
    &.s-violet
      progress-style($violet)
    &.s-white
      progress-style(white)
    &.s-clear
      &::-webkit-progress-bar
        background-color: transparent

   
