cols-and-offsets(cols)
  width: (100% * (cols/$columns))
  &-offset
    margin-left: (100% * (cols/$columns))
generate-cols()
  &12
    cols-and-offsets(12)
  &11
    cols-and-offsets(11)
  &10
    cols-and-offsets(10)
  &9
    cols-and-offsets(9)
  &8
    cols-and-offsets(8)
  &7
    cols-and-offsets(7)
  &6
    cols-and-offsets(6)
  &5
    cols-and-offsets(5)
  &4
    cols-and-offsets(4)
  &3
    cols-and-offsets(3)
  &2
    cols-and-offsets(2)
  &1
    cols-and-offsets(1)


// Default XS

.s-
  &break
    clear: both
  &row
    margin: 0px (-1 * ($space/2))
    &:before, &:after
      display: table
      content: " "
    &:after
      clear: both
  &col
    padding: 0 ($space/2)
    float: left
    box-sizing(border-box)
    width: 100%
  generate-cols()

@media screen and (min-width: 768px)
  .s-sm-
    generate-cols()

@media screen and (min-width: 1024px)
  .s-md-
    generate-cols()

@media screen and (min-width: 1200px)
  .s-lg-
    generate-cols()

@media screen and (min-width: 1700px)
  .s-xl-
    generate-cols()