.s-table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid $lightGrey;
}
.s-table thead {
  background: $lightGrey;
  color: $black;
  text-align: left;
  vertical-align: bottom;
}
.s-table th,
.s-table td {
  background-color: transparent;
  border-left: 1px solid $lightGrey;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: 5px;
}
.s-table th:first-child,
.s-table td:first-child {
  border-left-width: 0;
}
.s-table tr:nth-child(2n-1) {
  background-color: $lightGrey;
}
